.info-box {
    width: 220px;
    height: 220px;
    padding: 5px;
    margin: 4vh;
    margin-left: 0;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    font-size: .75rem;
    position: relative;
    float: left;
    background-color: white;
}
#countryName{
    font-weight: 600;
}
